#tumblr-feed{
	padding: 10px;
	background-color: #E0E0E0;
	max-width: 300px;
	min-width: 200px;
	max-height: 600px;
	overflow-y: scroll;
	border: 2px solid #CCC;
}

.post {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.post h3 {
	line-height: 100%;
}

.post img {
	width: 100%;
}

.post .content {
	padding: 0;
}

.post .content p {
	margin: 5px 0;
}

.post .content a {
	text-decoration: underline dotted;
	color: #333;
}

.post .content blockquote {
	border-left: 3px solid #EEE;
	margin: 1em 0px;
	padding-left: 20px;
	font-size: 18px;
	font-style: italic;
}

.post-date a {
	display: block;
	font-size: 16px;
	color: #7A7A7A;
	margin-bottom: 10px;
	text-decoration: underline dotted;
}

.post .content .link-text {
	display: block;
	padding: 5px;
	text-align: center;
	background-color: #8e1111;
}

.post .content .link-text a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.bordered {
	border-top: 1px #eee solid;
	padding-top: 40px;
}

.song-caption {
	display: block;
}

/* Hide Spotify album art */
		
.spotify_audio_player {
	height: 95px !important;
	width: 100% !important;
}

.spotify_audio_player #widgetContainer #engageView,
.spotify_audio_player #widgetContainer #mainContainer {
	display: none !important;
}

/* 
	Responsive youtube videos 
	source: http://avexdesigns.com/responsive-youtube-embed/ 
*/

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
	height: 0; 
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}